  {{!-- Talents --}}
  <div class="talents">
    <div class="tab-header tab-item" data-group="primary" data-tab="items">
      {{localize "EXTINCION.Talents"}}
    </div>
    <ol class="items-list">
      <li class="item flexrow item-header">
        <div class="item-image"></div>
        <div class="item-name">{{localize "EXTINCION.Name"}}</div>
        <!-- <div class="item-properties">Properties</div> -->
        <div class="item-controls">
          <a class="item-control item-create" title="Create item" data-type="talent"><i class="fas fa-plus"></i> {{localize "EXTINCION.AddTalent"}}</a>
        </div>
      </li>
      {{#each items as |item id|}} {{#if (eq item.type "talent")}}
      <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
        <h4 class="item-name item-edit clickable" width="48" height="24">{{item.name}}</h4>
        <!-- <span style="white-space: nowrap;" class="tomsg diceicon" data-label="usedice {{item._id}}" data-roll="d{{item.system.usedice}}">
        <i class="fas fa-dice-d20"></i>
        <h4 class="item-usedice"></h4>
        </span> -->

        <!-- <div>awd</div> -->
        <!-- <h4 class="item-properties">{{item.system.properties}}</h4> -->
        <div class="item-controls">
          <a class="item-control tomsg" data-item-id="{{item._id}}" title="Chat Item"><i class="fas fa-comment-alt"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      </li>
      {{/if}} {{/each}}
    </ol>

  </div>
